body{
	margin: 0 0 0 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	background: #fdfdfd;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
}

p{
	font-family: 'Montserrat', sans-serif;
	padding: 100x 100px 100px 100px;
	text-align: middle;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #475865;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	font-family: 'Montserrat', sans-serif;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: none 150ms ease-out;
	transition-property: color, background;
}

/* Change the color of links on hover */
.topnav a:hover {
	background: #0060a0;
	color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #069ad9;
	color: white;
}

/* Class for left floating */
.topnav a.right {
	float: right;
 }

/* Class for adding a background image - Not being used right now as I can't get it to work correctly */
.background{
	background: url(Logos/Wattesportspartial.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: auto 20%;
}

/* Class for the title */
.title{
	text-align: center;
	width: 60%;
	margin: auto;
	padding: top;
}

/* Class for the subtitle */
.subtitle {
	text-align: center;
	font-size: 16px;
	width: 80%;
	margin: auto;
}

/* Class for the main text*/
.main {
	text-align: center;
	font-size: 22px;
	width: 60%;
	margin: auto;
}

div.footer{
	position: fixed;
	text-align: center;
	bottom: 0px;
	width: 100%;
	background-color: #475865;
	padding: 0px 0px 0px 0px;
	color: white;
	font-size: 18px;
	vertical-align: middle;
}


.h_iframe iframe {
    width:100%;
    height:100%;
}
.h_iframe {
    height: 100%;
    width:100%;
}
