body{
	margin: 0 0 0 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	background-image: url(images/background.png);
	background-repeat: no-repeat;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
}

p{
	font-family: 'Montserrat', sans-serif;
	padding: 100x 100px 100px 100px;
	text-align: middle;
}

/* Class for the title */
.title{
	text-align: center;
	width: 60%;
	margin: auto;
	padding: top;
}

/* Class for the subtitle */
.subtitle {
	text-align: center;
	font-size: 16px;
	width: 80%;
	margin: auto;
}

/* Class for the main text*/
.main {
	text-align: center;
	font-size: 22px;
	width: 60%;
	margin: auto;
}

.bgStormgrey {
	background-color: #475865;
}

.h_iframe iframe {
    width:100%;
    height:600px;
    position: absolute;
	  left: 0%;

}
.h_iframe {
    height: 100%;
    width:100%;
}

/* Accessibility - show for screen readers, not visible users */
.show-for-sr {
	position: absolute !important;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	clip-path: inset(50%);
	border: 0;
}
.show-for-sr:focus {
	padding: 15px 23px 14px;
	width: auto;
	width: auto;
	clip: auto !important;
	border-radius: 3px;
}
.boxShadow {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}